black
decorator
numpy
opencv-python
matplotlib
pycodestyle
toml
inputs
ipykernel
jupyter
keras
tensorflow
tensorflow-gpu
tensorboard
mypy-extensions
pandas
Pillow
pynput
scikit-learn
scikit-image
imblearn